body{
  background-color: coral;
}
.container {
      width: 50%;
      height: 200px;
      border: 1px solid black;
      background-color: aqua;
      transition: transform 0.5s ease; /* Add transition for smooth rotation */
  }

  .container:hover {
      background-color: blueviolet;
      transform: rotate(180deg); /* Rotate the container 180 degrees on hover */
  }